body {
  font-family: "Elms Sans", sans-serif;
  text-align: center;
}

img {
  width: 90%;
  border-radius: 30px;
  filter: drop-shadow(20px 40px 5px #dc143c);
/*   border-radius: 15px 30px 90px 90px; */
/*   filter: blur(2px); */
/*   filter: brightness(250%); */
/*   filter: opacity(55%); */
/*   filter: saturate(75%); */
/*   filter: contrast(180%); */
/*   filter: grayscale(30%); */
}